<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Temporary jobs page">
  <title>Akalia</title>
  <%- include('../partials/head.ejs'); %>

</head>

<body>
  <%- include('../partials/navbar.ejs'); %>
    <main>
      <section class=" py-4 container d-flex align-items-center justify-content-center flex-column gap-3">
        <h2 class="mb-3 fw-semibold">Productos</h2>

        <!-- Caja de filtros  -->
        <%- include('../partials/filtro-productos.ejs'); %>


  <div class="row justify-content-center gx-4 mx-auto w-100">
          <% if (typeof productos !=='undefined' && productos.length) { %>
            <% productos.forEach(producto=> { %>
              <div class=" col-10 col-sm-6  col-lg-3 mb-4 px-3 d-flex justify-content-center">
                <article onclick="showProductDetail('<%= producto._id %>')"
                  class="product-card card rounded-0 border-0 w-100">
                  <% 
                    // Buscar la imagen del producto en el arreglo imagenes
                    var imagenProducto = imagenes.find(function(img) {
                      return String(img.idProducto) === String(producto._id);
                    });
                    var urlImagen = imagenProducto ? imagenProducto.urlImagen : '/img/placeholder-producto.png';
                  %>
                    <img class="card-img-top img-fluid  object-fit-cover rounded-0" src="<%= urlImagen %>"
                      alt="Imagen del producto" />
                    <!-- <%=producto.imagenProducto %> -->
                    <div class="card-body bg-light">
                      <h5 class="card-title mb-1 text-truncate w-100">
                        <%= producto.tituloProducto %>
                      </h5>
                      <p class="card-text text-muted mb-2 text-truncate w-100">
                        <%= producto.descripcionProducto %>
                      </p>
                      <p class="fw-semibold text-dark mb-0">
                        $ <%= producto.precio %>
                      </p>
                    </div>
                </article>
              </div>
              <% }); %>
                <% } else { %>
                  <li><span>Sin productos</span></li>
                  <% } %>
        </div>
      </section>

    </main>
    <!-- FOOTER-->
    <%- include('../partials/footer.ejs'); %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
      <script src="/js/ubicaciones.service.js"></script>
      <script src="/js/filtros.js"></script>
      <script src="/js/landing.js"></script>

     
</body>
<%- include('../partials/modal-login.ejs'); %>
  <%- include('../partials/modal-signup.ejs'); %>


</html>